/*
o css (Cascading Style Sheets) serve para definir o estilo visual do HTML.
Ele trabalha com partes principais:
- Seletores: o que estilizado (ex: color, font-size, #id)
- Propriedades: o que será alterado (ex: color, font-size)
-Valor: o novo estilo (ex: blue, 20px)
=========================================================================
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 
O seletor universal (*) aplica o estilo a todos os elementos da página.
Aqui usamos para remover as margens.
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
O seletor body representa o corpo da página.
As propriedades definem a apararência geral do site
*/

body{
    /*tipo de fonte do site*/
    font-family: "Montserrat", sans-serif;
    /* cor de fundo*/
    background-color: #0a192f;
    /* cor da fonte*/
    color: #e2e8f0;
    /* altura das linhas*/
    line-height: 1.6;
    
}
/* Personalizar seleção do texto*/
::selection{
    background-color: #00e5ff;
    color: #000;
}
/* 
TÍTULOS, TEXTOS E LINKS
==================================================
*/
/*
Seletores de tags (h1, h2, h3) estilizam os títulos 
 */
h1{
    /* espaçamento inferior */
    margin-bottom: 10px ;
    /* altura da linha */
    line-height: 1.2;
    /* tamanho da fonte */
    font-size: 2.4rem;
    /* cor de fonte texto */
    color: #00e5ff;
    /* brilho de sombra */
    text-shadow: 0 0 10px #00e5ff;
}
h2{
    /* ESPAÇAMENTO INFERIOR */
    margin-bottom: 10px ;
    /* ALTURA DA LINHA */
    line-height: 1.25;
    /* TAMANHO DA FONTE */
    font-size: 1.8rem;
    /* COR DA FONTE */
    color: #8b5cf6;
}
P{
    /* ESPAÇAMENTO INFERIOR */
    margin-bottom: 14px;
    /* COR DA FONTE */
    color: #94a3b8;
}
a{
    /* COR DA FONTE */
    color: #00e5ff;
    /* REMOVER SUBLINHADO */
    text-decoration: none;
    /* ADICIONAR TRANSIÇÃO SUAVE */
    transition: color 0.2s;
}

/* O estado :hover é acionado quando o usuário passa o mouse */

a:hover{
    /* ALTERAR COR DA FONTE AO PASSAR O MOUSE */
    color: #02adf6;
}
/*
CABEÇALHO E MENU DE NAVEGAÇÃO
================================================== 
 */

 header{
    /* O linear-gradiente cria um efeito degradê, passamos o angulo e depois as cores a porcentagem que elas vão ocupar */
    background-color: linear-gradient(90deg, #111827, #1e1b4b 100%);
    /* PADDING é o espaçamento interno DENTRO DO HEADER */
    padding: 20px 0;
    /* ALINHAR TEXTO AO CENTRO */
    text-align: center;
    /* ADICIONAR SOMBRA */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
 }
 nav{
    /* fundo do menu de navegação */
    background-color: #0f172a;
    /* borda superior --> 1px (espessura), solid (o tipo de borda),cor */
    border-top: 1px solid #1e293b;
    /* borda inferior --> 1px (espessura), solid (o tipo de borda),cor */
    border-bottom: 1px solid #1e293b;
    /*A position define a posição que o elemento vai ser exibido, nesse caso o stiky deixa o menu fixo no topo. tornar o menu fixo no topo ao rolar a página */
    position: sticky;
    top: 0;
 }
 /* Alterando a lista que dentro do nav */
nav ul{
    /* vai deixar os links lado a lado. remover marcadores de lista */
    display: flex;
    /* alinhamento horizontal */
    justify-content: space-between;
    /* remover marcadores de lista */
    list-style: none;
    padding: 10px; 
}
/* Alterando os links dentro do nav */
nav a{
    /* cor dos links do menu de navegação */
    color: #e2e8f0;
    /* espaçamento interno dos links */
    padding: 6px 14px;
    /* para deixar bordas arrendondas, usamos border-radius */
    border-radius: 50px;
    
}
nav a:hover{
    /* cor dos links do menu de navegação ao passar o mouse */
   background-color: #00e5ff; 
   color: #000;
}

/*
ESTRUTURA PRINCIPAL E SEÇÕES
==================================================
*/
main{
    /* definindo a largura máxima do conteúdo */
    max-width: 950px;
    /* centralizando o conteúdo */  
    margin: 30px auto;
    /* espaçamento interno */       
    padding: 0 20px;
    
}

/* 
Cada <section> funciona como um card visual.
*/

main > section{
    background-color: #111827;
    border: 1px solid #1e293b;
    border-radius: 14px;
    /* contruir uma sombra */
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
    padding: 24px;
    margin-bottom: 24px;
}

/* 
IMAGENS
==================================================
*/
img{
    max-width: 100%;
    height: auto;
    border-radius: 12PX;
    border: 1px solid #1e293b;
    margin-bottom: 14px;
}
/* 
 FORMULÁRIOS       
==================================================
*/
form{
    /* espaça todos os campos verticais */
    display: grid;
    gap: 12px;
}
label{
    /* deixar o label em negrito  */
    font-weight: bold;
    color: #00e5ff;
}   
input, textarea{
    /* definir a largura*/
    width: 50%;
    /* espaçamento interno */
    padding: 10px 12px;
    /* borda arredondada */ 
    background-color: #0f172a;
    border: 1.5px solid #1e293b;
    border-radius: 10px;
}
input:focus, textarea:focus{
    /* mudar a borda ao focar no campo */
    border-color: #00e5ff;
    box-shadow: 0 0 10px rgb(0, 229, 255, 0.4);
    outline: none;
}
button{
   background: linear-gradient(90deg, #8b5cf6, #00e5ff);
   color: #fff;
   border: none;
   padding: 12px 20px;
   border-radius: 10px;
   font-weight: 600;
   /* cursor point */
    cursor: pointer;
   box-shadow: 0 0 12px rgb(0, 229, 255, 0.3);
   width: 50%;
}
/* 
TABELA 
==================================================
*/

table{
    width: 100%;
    border: 1px solid #1e293b;
    border-radius: 10px;
    background-color: #0f172a;
    /* o border collapse une as bordas da tabela */
    border-collapse: collapse;
}
caption{
    color: #00e5ff;
    text-shadow: 0 0 6px #00e5ff;
    font-weight: bold;
    padding: 14px;
    font-size: 1.4rem;
}
thead th{
    background-color: #1e1b4b;
    color: #e2e8f0;
    text-align: left;
    padding: 10px 14px;
    border-bottom: 1 px solid #1e293b;
}
tbody td{
    padding: 10px 14px;
    color: #94a3b8;
    border-bottom: 1px solid #1e293b;
}
footer{
    text-align: center;
    padding: 24px;
    background: #0f172a;
    color: #94a3b8;
    border-top: 1px solid #1e293b;
    font-size: 0.9rem;
}