/*
o css (Cascading Style Sheets) serve para definir o estilo visual do HTML.
Ele trabalha com partes principais:
- Seletores: o que estilizado (ex: color, font-size, #id)
- Propriedades: o que será alterado (ex: color, font-size)
-Valor: o novo estilo (ex: blue, 20px)
=========================================================================
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 
O seletor universal (*) aplica o estilo a todos os elementos da página.
Aqui usamos para remover as margens.
*/

/*
O seletor body representa o corpo da página.
As propriedades definem a apararência geral do site
*/

body{
    /*tipo de fonte do site*/
    font-family: "Montserrat", sans-serif;
    /* cor de fundo*/
    background-color: #0a192f;
    /* cor da fonte*/
    color: #e2e8f0;
    /* altura das linhas*/
    line-height: 1.6;
    
}
/* Personalizar seleção do texto*/
::selection{
    background-color: #00e5ff;
    color: #000;
}
/* 
TÍTULOS, TEXTOS E LINKS
==================================================
*/
/*
Seletores de tags (h1, h2, h3) estilizam os títulos 
 */
h1{
    /* espaçamento inferior */
    margin-bottom: 10px ;
    /* altura da linha */
    line-height: 1.2;
    /* tamanho da fonte */
    font-size: 2.4rem;
    /* cor de fonte texto */
    color: #00e5ff;
    /* brilho de sombra */
    text-shadow: 0 0 10px #00e5ff;
}
h2{
    /* ESPAÇAMENTO INFERIOR */
    margin-bottom: 10px ;
    /* ALTURA DA LINHA */
    line-height: 1.25;
    /* TAMANHO DA FONTE */
    font-size: 1.8rem;
    /* COR DA FONTE */
    color: #8b5cf6;
}
P{
    /* ESPAÇAMENTO INFERIOR */
    margin-bottom: 14px;
    /* COR DA FONTE */
    color: #94a3b8;
}
a{
    /* COR DA FONTE */
    color: #00e5ff;
    /* REMOVER SUBLINHADO */
    text-decoration: none;
    /* ADICIONAR TRANSIÇÃO SUAVE */
    transition: color 0.2s;
}

/* O estado :hover é acionado quando o usuário passa o mouse */

a:hover{
    /* ALTERAR COR DA FONTE AO PASSAR O MOUSE */
    color: #02adf6;
}
/*
CABEÇALHO E MENU DE NAVEGAÇÃO
================================================== 
 */

 header{
    /* O linear-gradiente cria um efeito degradê, passamos o angulo e depois as cores a porcentagem que elas vão ocupar */
    background-color: linear-gradient(90deg, #111827, #1e1b4b 100%);
    /* PADDING é o espaçamento interno DENTRO DO HEADER */
    padding: 20px 0;
    /* ALINHAR TEXTO AO CENTRO */
    text-align: center;
    /* ADICIONAR SOMBRA */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
 }
 nav{
    /* fundo do menu de navegação */
    background-color: #0f172a;
    /* borda superior --> 1px (espessura), solid (o tipo de borda),cor */
    border-top: 1px solid #1e293b;
    /* borda inferior --> 1px (espessura), solid (o tipo de borda),cor */
    border-bottom: 1px solid #1e293b;
    /*A position define a posição que o elemento vai ser exibido, nesse caso o stiky deixa o menu fixo no topo. tornar o menu fixo no topo ao rolar a página */
    position: sticky;
    top: 0;
 }
